/* base --------- */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto Serif', serif;
    margin: 0;
}
header {
    text-align: center;
}
.banner {
    width: 100%;
    color: white;
}
.banner h1 {
    margin: 0;
    font-size: 1.25em;
    padding: 15px 25px 15px 25px;
}
.banner2 {
    padding: .5em .5em .5em .5em;
    font-size: .8em;
    text-align: center;
    border-bottom: 3px black solid;
}

/* Form ----------- */
.form-container {
    margin: auto;
    max-width: 500px;
}
form {
    background: rgba(248, 248, 207, 0.932);
    margin: 5px 0 20px 0;
    text-align: left;
    padding-top: 10px;
    border-top: 1px solid black;
}
.contact legend {
    padding: .5em .5em .5em 0;
    font-size: 1.24em;
}
fieldset {
    border: none;
    margin-top: 20px;
    text-align: left;
}
.contact {
    margin: 0;
    text-align: left;
    border-bottom: 3px solid black;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select[id="state"] {
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-radius: .5em;
    background: rgba(211, 211, 211, 0.32);
    outline: 0;
    border: none;
    font-size: .7em;
    height: 30px;
    line-height: 3;
}
input[id="zip"] {
    width: 50%;
}
.newsletter {
    margin: 0; 
}
.newsletter legend {
    padding-top: 25px;
}
.newsletter label {
    font-size: .735em;
}
.news-wrap {
  padding: 10px 10px 10px 0;
}
.format-wrap {
    padding: 10px 0 10px 0;
  }
input[type="checkbox"] + label {
    display: inline;
    padding-left: 10px;
    line-height: 2;
    font-size: .7em;
}
input[type="radio"] + label {
    display: inline;
    padding-left: 10px;
    line-height: 2;
    font-size: .7em;
}
.btn {
    font-size: 0.875em;
    font-weight: 400;
    cursor: pointer; 
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    margin: auto;
    text-transform: uppercase;
    border-radius: .5em;
    border: none;
  }
  label[for="textfield"] {
    line-height: 2.5;
  }
  textarea {
    padding: 10px 0 20px 0;
    width: 100%;
    height: auto;
    margin: 0 0 10px 0px ;
    border-radius: .5em;
    background: rgba(211, 211, 211, 0.32);
    outline: 0;
    border: none;
    font-size: .7em;
    line-height: 2;
  }
footer {
    margin: auto;
    text-align: center;
    font-size: .75em;
    padding-bottom: 10px;
}

  /* form styles ---------- */

.lgf {
    color: rgba(5, 5, 5, 0.868);
}
.bgc {
    background-color: rgb(40, 40, 126);
}
.lfs {
    font-size: .55em;
    padding: 5px;
}
input[placeholder="Required"],
input[placeholder="Phone Number"],
input[placeholder="Address"],
input[placeholder="City"],
input[placeholder="Zip Code"] {
    text-align: right;
}
textarea[placeholder="Leave comment here"] {
    text-align: center;
}
input:focus,
select:focus,
textarea:focus {
    border: 2px rgb(40, 40, 126) solid;
}
/* media query */
@media (min-width: 768px) {
    .form-container {
        margin: auto;
        max-width: 500px;
    }
    .container-1,
    .container-2,
    .container-3,
    .container-4,
    .container-5,
    .container-6,
    .container-7 {
        display: flex; 
        flex-direction: row;
        padding: .5em 0 .5em 0;
    }
    .container-1 input,
    .container-2 input,
    .container-3 input,
    .container-4 input,
    .container-5 input,
    .container-6 input {
        flex-grow: 4;
        width: 80%; 
    }
    .container-1 label,
    .container-2 label,
    .container-3 label,
    .container-4 label,
    .container-5 label,
    .container-6 label  {
        flex-grow: 1;
        width: 30%;
    }
    .container-6 label {
        padding-right: 90px;
    }
    .container-7 label {
        width: 27%;
    }
    .container-7 input {
        width: 25%;
    }
}